body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    min-height: 350px;
    margin: auto;
    padding: 25px;
    text-align: center;
    background-color: #FEFFEA;
    border: 5px groove transparent;
    border-radius: 5px;
    border-radius: 5px;
}

.counter h1{
    color: #000;
    font-size: 18px;
}

#count{
    font-size: 9rem;
}